@import './colors.scss';


*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  color: $color-grey;
}

a {
  color: currentColor;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
