@import './colors';

.button {
  background-color: $color-green;
  border: 0;
  border-radius: 100px;
  color: $color-white;
  display: block;
  height: 3rem;
  line-height: 3.2rem;
  padding: 0 2rem;
  text-transform: uppercase;
}

.button--grey {
  background-color: $color-grey-dark;
  border: solid 1px $color-white;
}

.button--green-transparency {
  background-color: rgba($color-green, .8);
}
