@import './colors';

.header {
  align-items: center;
  background-color: $color-grey-dark;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  width: 100%;
}

.header__aside {
  align-items: center;
  display: flex;
}

.header__action-spacing {
  margin-right: 1.5rem;
}
