.hero {
  align-items: center;
  background-attachment: fixed;
  background-image: url('../images/laptop.jpg');
  background-size: cover;
  display: flex;
  height: 30rem;
  justify-content: center;

  &__inner {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }


  .hero-text + .button {
    margin-top: 3rem;
  }
}
