@import './colors';
@import './type';

.main-nav {
  display: flex;
}

.main-nav__item {
  margin-right: 2rem;
}

.main-nav__link {
  @include h4;
  color: $color-white;
  text-transform: uppercase;
}
