@import './colors.scss';

.title-block {
  align-items: center;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.title-block__sub {
  color: $color-green;
}

.title-block__main {
  font-weight: 900;
}
